@import 'ember-paper';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
/**
 * Base Elements
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
    text-align: center;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    overflow: auto;
}

body {
    height: auto;
    background: #fff;
}

a {
    color: #002528;
    text-decoration: none;
}

p {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}

h1 {
  font-family: 'Architects Daughter', cursive;
}

.architect {
  font-family: 'Architects Daughter';
}

// TOP NAVI

 .menu {
   height: 3.5vh;
   z-index: 9999;
   p {
     font-weight: 500;
     padding: 5px 3em 5px 0px;
     margin: 0;
     text-align: right;
   }
   border-bottom: solid 2px #f6f6f6;
 }

 .menu:hover {
   border-bottom: solid 2px #001a1c;
   background: #002528;
   transition: 3000;
   color: #fff;
 }

.links {
  position: fixed;
  display: none;
  background: #002528;
  height: 96.5vh;
  width: 43%;
  z-index: 9998;
  a {
    position: relative;
    right: 0;
    font-size: 2.5em;
    top: 37vh;
    display: block;
    color: #fff;
  }
}


// FIRST WELCOME DIV

.logo {
  background-image: url('/assets/images/mylift.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 200px;
}

#mldescription {
    font-weight: 400;
}

#program_logo {
  background-image: url('/assets/images/mlprogram.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 100px;
}


// PROGRAM STYLING

#program {
  z-index: 9990;
  margin: 10px auto;
  position: fixed;
  width: 40.8%;
  text-align: center;
  h1 {
    width: 100%;
  }
  table {
    font-size: 12px;
    width: 100%;
    tbody{
      tr {
        height: 40px;
      }
    }
  }
  thead {
    background: #002528;
    color: #fff;
    font-weight: 200 !important;
  }
}

.contact {
  position: fixed;
  bottom: 2.5em;
  left: 3.5em;
  color: #002528;
}

//  Divs
.jumbo {
  padding: 50px 20px;
}

.jumbo:hover {
  background: #f2f2f2;
}

.jumbo.welcome {
  padding: 20px 20px 50px 20px;
}

.programstart, .manualChoice, .randomChoice {
  display: none;
}


// CONTACT AND ABOUT LEFT SIDE

.content.left.about {
  background: url('/assets/images/hey.jpeg') center;
  background-size: cover;
  width: 43%;
}

.content.left.cont {
  background: url('/assets/images/contact.jpeg') center;
  background-size: cover;
  background-position: right;
  width: 43%;
}


// CONTACT AND ABOUT RIGHT SIDE

.jumbo.about {
  p {
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px
  }
  position: relative;
  top: 12em;
  width: 85%;
  margin: auto;
}

.jumbo.cont {
  h2 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px
  }
  position: relative;
  top: 12em;
}

/**
 * Utilities
 */

.light {
    font-weight: 300;
}

.left {
    height: 96.5vh;
    text-align: left;
    float: left;
    padding: 20px;
}

.right {
    h3 {
      margin-bottom: 12px;
    }
    padding: 35px;
    border-left: solid 2px #f6f6f6;
    width: 57%;
    float: right;
}

.content.right {
  min-height: 96.5vh;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

// Ember Paper Styling

.md-button {
  padding: 7px 22px 7px;
  text-decoration: none;
  color: #fff;
  background: #002528;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  opacity: 0.9;
}

.md-button:hover {
  color: #000;
}

div.md-text{
  width: 100% !important;
}

// PROGRAM BUTTON

#btn_program {
  display: none;
}


// Media\

@media (max-width: 1024px) {
  .menu {
    cursor: pointer;
    background:#fff;
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    p {
      padding: 10px 40px 10px 0px;
    }
  }
  .jumbo:hover {
    background: none;
  }
  .content.left {
    display: none;
    width: 100%;
  }
  .content.right {
    width: 100%;
    min-height: auto;
    border: none;
  }
  .content.left.home {
    padding: 0;
  }
  .content.right.home {
    margin-top: 44px;
  }
  .content.left.about, .content.left.cont {
    margin-top: 44px;
    width: 100%;
    display: block;
    background-size: cover;
    height: 35vh;
  }
  .content.right.about, .content.right.cont {
    height: auto;
  }
  .jumbo.about, .jumbo.cont {
    top: 0;
  }
  .links {
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .md-select {
    display: block;
  }
  .flex-30, .flex-45 {
    min-width: 75%;
  }
  .layout-row {
    display: block;
  }
  #program {
    width:100%;
    padding: 0 20px 20px 20px;
    top: 5em;
    position: absolute;
  }
  #btn_program {
    display: block;
    margin: auto;
  }
}

@media (max-width: ) {

}
