@import 'ember-paper';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');
/**
 * Base Elements
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
    text-align: center;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body {
    height: auto;
    background: #fff;
}

a {
    color: #280000;
    text-decoration: none;
}

p {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}

.container {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.contact {
  position: fixed;
  bottom: 2.5em;
  left: 3.5em;
  color: #280000;
}

/**
 * Top Navigation
 */

 .menu {
   height: 3.5vh;
   z-index: 9999;
   p {
     font-weight: 500;
     padding: 5px 3em 5px 0px;
     margin: 0;
     text-align: right;
   }
   border-bottom: solid 2px #f6f6f6;
 }

 .menu:hover {
   border-bottom: solid 2px #420100;
   background: #280000;
   transition: 3000;
   color: #fff;
 }

.links {
  position: fixed;
  display: none;
  background: #280000;
  height: 96.5vh;
  width: 43%;
  a {
    position: relative;
    right: 0;
    font-size: 2.5em;
    top: 37vh;
    display: block;
    color: #fff;
  }
}

//  Divs
.jumbo {
  padding: 50px 20px;
}

.jumbo:hover {
  background: #f2f2f2;
}

.programstart {
  display: none;
}


#mldescription {
    font-weight: 400;
}

.manualChoice, .randomChoice {
  display: none;
}

.content.left.about {
  background: url('/assets/images/hey.jpeg') center;
  background-size: cover;
}

.content.left.cont {
  background: url('/assets/images/contact.jpeg') center;
  background-size: cover;
  background-position: right;
}

.jumbo.about {
  p {
    text-align: left;
  }
  h2 {
    text-align: left;
    font-size: 2.3em;
  }
  position: relative;
  top: 12em;
}

.jumbo.cont {
  position: relative;
  top: 12em;
}

/**
 * Utilities
 */

.light {
    font-weight: 300;
}

.left {
    height: 96.5vh;
    text-align: left;
    width: 43%;
    float: left;
    padding: 20px;
}

.right {
    h3 {
      margin-bottom: 12px;
    }
    padding: 35px;
    border-left: solid 2px #f6f6f6;
    width: 57%;
    float: right;
}

.content.right.home {
  min-height: 96.5vh;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

// Ember Paper Styling

.md-button {
  padding: 7px 22px 7px;
  text-decoration: none;
  color: #fff;
  background: #280000;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  opacity: 0.9;
}

.md-button:hover {
  color: #000;
}


// Media

@media (max-width: 1024px) {
  .menu {
    cursor: pointer;
    background:#fff;
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    p {
      padding: 10px 40px 10px 0px;
    }
  }
  .content.left {
    display: none;
  }
  .content.right {
    width: 100%;
  }
  .links {
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .content.right.home {
    margin-top: 44px;
  }
  .content.left.about, .content.left.cont {
    margin-top: 44px;
    width: 100%;
    display: block;
    background-size: cover;
    height: 35vh;
  }
  .content.right {
    height: auto !important;
  }
  .jumbo.about, .jumbo.cont {
    top: 0;
  }
  .md-select {
    display: block;
  }
  .flex-30, .flex-45 {
    min-width: 60%;
  }
  .layout-row {
    display: block;
  }
}

@media (max-width: ) {

}
