<div class='content left about'>
</div>

<div class='content right about'>
  <div class='jumbo about'>
    <h2 class='architect'>About</h2>
    <blockquote>
      Developed for all fitness levels, MyLift is the simplest way to create or randomize daily workout plans for any goal!<br>
      <br>We created a user friendly way to create workout guides for any muscle group in a way proven to get results.
      With correct form, proper programming, and determination, the results are sure to come.<br>
      <br><b class='architect'>Let us help you get there!</b>
    </blockquote>
  </div>
</div>

{{outlet}}
