<div class='jumbo'>
  <h2>About</h2>
  <p>
    MyLift was developed in order to help anyone and everyone looking for a place to begin their fitness journey.
    We created a user friendly way to create workout guides for any muscle group in a way proven to get results.
    With correct form, proper programming, and determination, the results are sure to come. Let us help you get there!
  </p>
</div>

{{outlet}}
