<div class='container'>
  <div class="menu" {{action "naviToggle"}}>
    <p>
      <strong>//</strong> menu
    </p>
  </div>
  <div class="body">
    <div class="links">
      {{#link-to 'index'}}
        main
      {{/link-to}}
      {{#link-to 'about'}}
        about
      {{/link-to}}
      {{#link-to 'contact'}}
        contact
      {{/link-to}}
    </div>
    {{outlet}}
  </div>
</div>
