<div class='content left cont'>
</div>

<div class='content right cont'>
  <div class='jumbo cont'>
  <h2>Contact</h2>
  <p>
    MyLift Representatives would love to help you<br>
    with any questions or comments you may have.
  </p>
  <p>
    MyLift HQ
    <address>
      123 Test Address Avenue<br>
      Franklin, TN 37027
    </address>
    <a href='mailto:collinmfit@gmail.com'>heythere@mylift.com</a>
  </p>
</div>
</div>

{{outlet}}
