<div class='jumbo'>
  <h1>Welcome to <span id='logo'>MyLift</span></h1>
  <h3>Fitness programming made easy.</h3>
  <p>
    <em id='mldescription'>We at MyLift wanted to provide the simplest way to create custom fitness programs
    based on research-proven training methods -- so that's exactly what we did!</em>
  </p>
  <!-- <p>
    Share your workouts with your friends, or the rest of our MyLift Community!
  </p>  -->
  {{welcome-screen}}
</div>

<div class='jumbo programstart'>
  <h1>Fitness Goal</h1>
</div>

{{outlet}}
