<div class='jumbo'>
  <h1>Welcome to MyLift</h1>
  <h3>Fitness programming made easy.</h3>
  <p>
    We at MyLift wanted to provide the simplest way to create custom fitness programs<br>
    based on research-based, proven, training methods; so that's exactly what we did!
  </p>
  <p>
    Share your workouts with your friends, or the rest of our MyLift Community!
  </p>
</div>

{{outlet}}
